.search {
  margin-bottom: 0;

  // Убираем границу у инпута
  :global(.ant-input) {
    border: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
    outline: none !important;

    &:focus,
    &:hover,
    &:active {
      border: none !important;
      border-bottom: none !important;
      box-shadow: none !important;
      outline: none !important;
    }
  }
}
